
/* General elements */
/*------------------*/

* {
	margin: 0;
	padding: 0;
}

h2 {
	margin-bottom: 20px;
}

ul,ol {
	margin-left: 10px;
}



/* Often used classes/IDs */
/*------------------------*/

.main-area {
	padding-top: 80px;
}

.tab-content {
	border: 1px solid #dddddd;
	border-top: 0;
	border-radius: 0 0 4px 4px;
	margin-top: -18px;
	padding: 18px 18px 6px;
}



/* Special classes/IDs */
/*---------------------*/

.add-link {
	margin-bottom: 24px;
}
