/* Classes and IDs starting with "bkms-" are unrelated
 * to Bootstrap and unique to BookmarkScout.
 */


/* General elements */
/*------------------*/

* {
	margin: 0;
	padding: 0;
}

h2 {
	margin-bottom: 20px;
}

ul,ol {
	margin-left: 10px;
}



/* Often used classes/IDs */
/*------------------------*/

.bkms-main-area {
	padding-top: 80px;
}

.tab-content {
	border: 1px solid #dddddd;
	border-top: 0;
	border-radius: 0 0 4px 4px;
	margin-top: -18px;
	padding: 18px 18px 6px;
}



/* Special classes/IDs */
/*---------------------*/

.bkms-link {
	font-size: 120%;
	margin-bottom: 0;
	margin-right: 10px;
	min-width: 60%;
	padding: 10px 12px;
	vertical-align: middle;
}

.bkms-btn-more {
	margin-right: 10px;
}

.bkms-link-more {
	background-color: #ffffff;
	border-radius: 4px;
	display: none;
	margin-top: 15px;
	padding: 10px 20px;
}
